.container {
    max-width: 1500px;
  /* max-width: 80%; */ 
}


.article-container {
  max-width: 1500px;
}

/*.main-content-wrap{
    max-width: 1000 px
}*/


.bg {
  /* Set rules to fill background */
  min-width: 100%;
  min-height: auto;
  
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto; /* auto */
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
} 

.talk-thumbnail-container {
    aspect-ratio: 16 / 9;
}

.media.stream-item a img.talk-thumbnail-image {
    max-width: 450px;
    max-height: 253px;
}

.talk-body {
    margin-left: 10px;
}

a.talk-author {
    color: inherit;
    font-size: 0.8rem;
}

a.talk-author-compact {
    color: black;
}

a.media-coverage-title-link {
    color: #1565c0;
}

p.page-subtitle {
    text-align: center;
}

div.media-coverage-contents {
  overflow:hidden;
  overflow-wrap:break-word;
  word-wrap:break-word;
  word-break:break-word;
}

div.media-item-container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

p.citation_paragraph {
    margin: 0;
    font-size: 0.85rem;
}

.citation-button-box {
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    max-width: 20%;
}

.citation-flex-left {
    flex: 1;
}

div.profile-container {
    display: block;
    max-width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 992px) {
    .profile-floater {
        float: center;
        max-width: 100%;
    }
}

@media (min-width: 993px) {
    .profile-floater {
        float: left;
        margin-right: 10px;
        max-width: 33.333333333333%;
    }
}

.profile-wraptext .article-style {
    overflow: visible;
}

.news-date {
    color: DarkViolet;
    background-color: #f7e6ff;
    border: 2px solid DarkViolet;
    font-weight: bold;
    border-radius: .3rem;
    padding: 0px .2rem;
}

.news-container p {
    display: inline;
    margin-left: 5px;
}

.media.stream-item.news-toplevel {
    margin-bottom: 0px;
}

section.home-section {
    padding: 50px 0px;
}

.author-page-section-break {
    display: inline-block;
    width:1075px;
}

div.project-section-title {
    font-family: "",sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
}

div.project-section-publication-title {
    font-family: "",sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

div.project-section-contents {
  overflow:hidden;
  overflow-wrap:break-word;
  word-wrap:break-word;
  word-break:break-word;
}

div.project-section-container:nth-of-type(2n+1) {
  background: #f7f7f7;
}

div.project-section-container:only-of-type {
  background: #ffffff;
}

div.project-section-container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

div.list-content-width-override-container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

div.list-content-width-override-container div.article-style {
  display: flex;
  align-items: flex-start;
}

div.project-section-talk-title {
    font-family: "",sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

div.project-section-talk-list {
    margin-bottom: 1rem;
}

.media.stream-item figure.project-section-wide-image img {
    max-width: 100%;
}

figure.project-section-wide-image div.w-100 {
    display: flex;
    justify-content: center;
}

div.wrapper-override-list-container {
    width: 100%;
}

@media (min-width: 992px) {
  img.article-banner {
    height: auto;
  }
}

img.article-banner {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.media.stream-item img.talk-compact-thumbnail {
  max-width: 300px;
  height: 100%;
}

div.project-section-container div.media.stream-item {
  max-width: 1536px;
}

img.icon-custom {
  height: 18px;
  filter: invert(25%) sepia(65%) saturate(2397%) hue-rotate(199deg) brightness(98%) contrast(86%);
}

img.icon-custom.big-icon {
  height: 38px;
}