.container {
    max-width: 1500px;
  /* max-width: 80%; */ 
}


.article-container {
  max-width: 1500px;
}

/*.main-content-wrap{
    max-width: 1000 px
}*/


.bg {
  /* Set rules to fill background */
  min-width: 100%;
  min-height: auto;
  
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto; /* auto */
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
} 

.talk-thumbnail-container {
    aspect-ratio: 16 / 9;
}

.media.stream-item a img.talk-thumbnail-image {
    max-width: 450px;
    max-height: 253px;
}

.talk-body {
    margin-left: 10px;
}

a.talk-author {
    color: inherit;
    font-size: 0.8rem;
}

p.citation_paragraph {
    margin: 0;
    font-size: 0.85rem;
}

.citation-button-box {
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    max-width: 20%;
}

.citation-flex-left {
    flex: 1;
}

div.profile-container {
    display: block;
    max-width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 992px) {
    .profile-floater {
        float: center;
        max-width: 100%;
    }
}

@media (min-width: 993px) {
    .profile-floater {
        float: left;
        margin-right: 10px;
        max-width: 33.333333333333%;
    }
}

.profile-wraptext .article-style {
    overflow: visible;
}

.news-date {
    color: DarkViolet;
    background-color: #f7e6ff;
    border: 2px solid DarkViolet;
    font-weight: bold;
    border-radius: .3rem;
    padding: 0px .2rem;
}

.news-container p {
    display: inline;
    margin-left: 5px;
}

.media.stream-item.news-toplevel {
    margin-bottom: 0px;
}

section.home-section {
    padding: 50px 0px;
}

.author-page-section-break {
    display: inline-block;
    width:1075px;
}