.container {
    max-width: 1500px;
  /* max-width: 80%; */ 
}


.article-container {
  max-width: 1500px;
}

/*.main-content-wrap{
    max-width: 1000 px
}*/


.bg {
  /* Set rules to fill background */
  min-width: 100%;
  min-height: auto;
  
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto; /* auto */
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
} 

.talk-thumbnail-container {
    aspect-ratio: 16 / 9;
    background-color: red;
}

.media.stream-item a img.talk-thumbnail-image {
    max-width: 450px;
    max-height: 253px;
}

.talk-body {
    margin-left: 10px;
}

a.talk-author {
    color: inherit;
}