{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ if $.Params.ignore-pagination }}
      {{ range $index, $item := .Data.Pages }}
        {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
      {{end}}
  {{ else }}
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $index, $item := $paginator.Pages }}
        {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
      {{end}}

      {{ partial "pagination" . }}
  
  {{ end }}

</div>

{{- end -}}